<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <!-- Left Side Links -->
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listings">All Listing</a>

                <!-- Only hosts see "Add new Listing" -->
                <% if (currUser && currUser.role==="host" ) { %>
                    <a class="nav-link" href="/listings/new">Add new Listing</a>
                    <% } %>

                        <!-- Only guests see "My Bookings" -->
                        <% if (currUser && currUser.role==="guest" ) { %>
                            <a class="nav-link" href="/my-bookings">My Bookings 🧳</a>
                            <% } %>
            </div>

            <!-- Right Side Auth Buttons -->
            <div class="navbar-nav ms-auto">
                <% if (!currUser) { %>
                    <a class="nav-link" href="/signup">Sign Up</a>
                    <a class="nav-link" href="/login">Log In</a>
                    <% } else { %>
                        <span class="nav-link text-muted">
                            Hi, <strong>
                                <%= currUser.username %>
                            </strong> 👋
                        </span>
                        <a class="nav-link" href="/logout">Log Out</a>
                        <% } %>
            </div>

        </div>
    </div>
</nav>